* {
    box-sizing: border-box;
    --primary-color: #2d2e30;
    --secondary-color: #42bcf4;
    --wrapper-padding: 1em;
}
body {
    margin: 0;
    font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,.87);
}

/* Navigation */

#site-header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
}

#site-header .wrapper {
    display: flex;
}

#nav-button {
    border: none;
    background-color: transparent;
    outline: 0;
    height: 100%;
    padding: 0;
}

#nav-menu-block {
    position: relative;
    top: 4px;
    width: 22px;
    height: 20px;
}

/* Nav Hamburger Line  */
#nav-menu-block span {
    display: block;
    width: 100%;
    height: 2px;
    background: #2d2e30;
    margin-bottom: 4px; 
}

#nav-site-logo {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

#nav-site-logo a img {
    display: inline;
    height: 35px;
    vertical-align: middle;
}

#nav-site-logo a span {
    position: relative;
    top: 1px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.0px;
    color: var(--secondary-color);
    font-weight: 700;
    text-align: center;
}

/* Slide in nav menu */
.nav-menu {
    top: 0;
    /* visibility: hidden; */
    position: fixed;
    width: 250px;
    height: -webkit-fill-available;
    background: #fff;
    z-index: 1000;
    line-height: 60px;

    transition: left .3s ease-out;
    -webkit-transition: left .3s ease-out;
    left: -250px;
}

.nav-menu-desktop {
    display: none;
    margin: 0;
}

.open {
    left: 0;
    visibility: visible !important;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.nav-menu ul li a {
    display: block;
    text-decoration: none;
    color: #2d2e30;
    font-size: 16px;
    padding-left: 20px;
}

.nav-menu ul li a:hover {
    color: #626262;
}

#nav-shadow {
    background-color: rgba(0,0,0,0.4) ;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    visibility: hidden;
}

button.nav-menu {
    background-color: transparent;
    height: 100%;
    border: none;
    padding: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.nav-menu .content {
    padding: 12px;
    background-color: #ddd;
}

/* Posts */
.posts .wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: var(--wrapper-padding);
    padding-top: var(--wrapper-padding);
    padding-bottom: var(--wrapper-padding);
}

.post {
    border: 1px solid #ccc;
    border-radius: 1px;
}

.post-details {
    position: relative;

    padding: 15px;
}

.post-details h2 {
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: 400;
}

.post-meta span {
    font-size: 14px;
    color: #626262;
}
.post-meta .separator {
    margin: 0 5px;
}

.post-thumbnail img {
    width: 100%;
}

.wrapper {
    padding-left: var(--wrapper-padding);
    padding-right: var(--wrapper-padding);
    height: 100%;
    padding: auto;
    /* margin: auto; */
    position: relative;
}
.site-footer {
    background-color: #f8f8f8;
    color: #2d2e30;
    font-size: 16px;
    font-weight: 200;

    margin: auto;
}

.site-footer .wrapper {
    display: grid;
    grid-template-columns: auto;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section span {
    font-size: 14px;
    font-weight: 200;
}

.footer-copyright {
    font-size: 13px;
}

.footer-logo {
    font-weight: 425;
    font-size: 24px;
}

.footer-title {
    text-transform: uppercase;
    font-weight: inherit;
    font-size: inherit;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-list li {
    margin-bottom: 5px;
}
.footer-list li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 15px;
    font-weight: 150;
}

.footer-list li a:hover {
    text-decoration: underline;
    font-weight: 300;
    color: inherit;
}

@media only screen and (min-width: 550px) {
    * {
        --wrapper-padding: 2em;
    }
    .wrapper {
        padding-left: 1em;
        padding-right: 1em;
        /* max-width: 722px; */
    }
    #nav-site-logo {
        margin: 0 auto;
        padding-right: 1em;
    }
    .posts .wrapper {
        margin: 0 auto;
        max-width: 1100px;
        grid-template-columns: auto auto;
        grid-column-gap: 1rem;
    }
    .site-footer .wrapper {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 920px) {
    .wrapper {
        max-width: 820px;
    }
    .site-footer .wrapper {
        grid-template-columns: auto auto auto auto;
    }

    #nav-site-logo {
        padding-right: 0.5em;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        max-width: 1000px;
    }
    
    #nav-site-logo {
        margin: 0
    }
    #nav-button {
        display: none;
    }

    .nav-menu-desktop {
        margin: 0;
        display: flex;

    }

    .nav-menu-desktop li {
        list-style: none;
        display: inline-block;
        margin: auto 20px;
        
    }

    .nav-menu-desktop li a {
        display: block;
        text-decoration: none;
        color: var(--primary-color);
        font-weight: 100;
    }

    .nav-menu-desktop li a:hover {
        color: var(--secondary-color);
        text-decoration: underline;
    }

}

@media only screen and (min-width: 1016px) {
    .wrapper {
        max-width: 980px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1200px;
    }

    #nav-site-logo {
        margin: unset;
    }

    .posts .wrapper {
        margin: 0 auto;
        grid-template-columns: auto auto auto;
        grid-column-gap: var(--wrapper-padding);
    }
}

a:-webkit-any-link {
    text-decoration: unset;
}